<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/admission.css">
    <title>admission</title>
</head>
<body>
    <div class="main">
        <div class="box">
            <h2>Admission Form</h2>
            <form action="/admission" method="post">
                <input type="text" name="studentName" placeholder="Name" required>
                <input type="text" name="phoneNo" placeholder="phoneNo" required>
                <input type="text" name="fatherName" placeholder="father Name" required>
                <input type="text" name="motherName" placeholder="mother Name" required>
                <input type="text" name="id" placeholder="id" required>
                <textarea class="address"  name="address" id="" placeholder="address" required rows="3"></textarea>
                <br>
                <button class="btn">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>