<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/admission.css">
    <title>admission</title>
</head>
<body>
    <div class="main">
        <div class="box">
            <h2>Admission Form</h2>
            <form action="/deletepass/<%=id%>" method="post">
                <input type="password" name="add" placeholder="enter organization Password " required>
                <button class="btn">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>